<footer>
    <div class="links">
        {% for link in footer.links %}
            <a href="{{ link.url }}"
                target="{{ link.target }}"
                rel="noreferrer">{{ link.label }}</a>
        {% endfor %}
    </div>
    <div>
        💻 avec 🖤 & <a href="https://www.11ty.dev/" target="_blank" rel="noreferrer">11ty.dev</a>
    </div>
    <div class="licence">Sauf mention contraire, le contenu de ce site est publié sous licence
        <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" target="_blank" rel ="noreferrer">CC BY-SA 4.0.</a>
    <div>
</footer>
