<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="{{ metadata.author }}">

    {# Title #}
    {% if title|length %}
        <title>{{ title }} - {{ metadata.title }}</title>
        <meta name="twitter:title" content="{{ title }}"/>
        <meta property="og:title" content="{{ title }}" />
    {% else %}
        <title>{{ metadata.title }}</title>
        <meta name="twitter:title" content="{{ metadata.twitter.title }}"/>
        <meta property="og:title" content="{{ metadata.og.title }}" />
    {% endif %} 

    {# Page description #}
    {% if description|length %}
    <meta name="description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}"/>
    <meta property="og:description" content="{{ description }}" />
    {% else %}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="twitter:description" content="{{ metadata.description }}"/>
    <meta property="og:description" content="{{ metadata.description }}" />
    {% endif %}

    {# Keywords #}
    {% if tags|length %} <meta name="keywords" content="{{ tags }}">
    {% else %} <meta name="keywords" content="{{ metadata.keywords }}"> {% endif %}

    <link rel="icon" href="{{ metadata.favicon }}" />
    <link rel="stylesheet" type="text/css" href="{{ css.permalink }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="{{ metadata.twitter.creator }}"/>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ metadata.home }}" />
    <meta property="og:updated_time" content="{{ metadata.builtAt }}" />
    <meta property="og:image" content="{{ metadata.og.image }}" />

    <link rel="canonical" href="{{ metadata.home }}">

    <meta name="generator" content="Eleventy" />
</head>