:root {
  --background-color: #18181a;
  --primary-color: #d9d9d9;
  --secondary-color: #84848c;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
}

.secondary-color {
  color: var(--secondary-color);
}

a:hover {
  color: var(--primary-color);
}

h1 {
  color: var(--background-color);
  background-color: var(--primary-color);
}
