---
import type { CollectionEntry } from 'astro:content';
interface Props {
  aboutContent: CollectionEntry<'about'>;
}

const { aboutContent } = Astro.props;

const { Content } = await aboutContent.render();
---

<article>
  <h2>{aboutContent.data.title}</h2>
  <p>
    <Content />
  </p>
</article>
