---
import {getEntry} from "astro:content";
const license = await getEntry('license', 'license');
const { Content } = await license.render();
---

<footer class="secondary-color">
  <Content />
  <a href="/credits" title="Crédits & mentions légales">Crédits & mentions légales</a>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10%;
  }
</style>
