---
import type { CollectionEntry } from 'astro:content';
import { Image } from "astro:assets";
import me from "/src/assets/me.png";
interface Props {
  meContent: CollectionEntry<'me'>;
}

const { meContent } = Astro.props;
const { Content } = await meContent.render();
---

<header>
  <Image slot="photo" src={me} alt={meContent.data.altImage} />
  <div>
    <h1>{meContent.data.title}</h1>
    <Content/>
  </div>
</header>

<style>
  header {
    display: flex;
    margin-top: 30%;
    margin-bottom: 5em;
    gap: 40px;
    align-items: center;
  }

  header > div {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 24px;
    padding: 5px;
    margin: 0 0 0.5em 0;
    line-height: 1;
  }

</style>


<style is:global>
  header p {
    margin: 0;
    color: #84848c;
  }
</style>