---
import type { CollectionEntry } from 'astro:content';
interface Props {
  social: CollectionEntry<'socials'>;
}

const { social } = Astro.props;

const { title, name, url  } = social.data

---

<section>
  <span class="secondary-color">{title}</span>
  <h3> <a title={name} href={url} target="_blank" rel="noreferrer external">{name}</a></h3>
</section>

<style>
  * {
    margin: 0;
  }

  section {
    display: flex;
    gap: 10px;
  }
  span:after {
    content: " : ";
  }

  @media (min-width: 450px) {
    section {
      display: grid;
      grid-template-columns: 1fr 300px;
    }

    span {
      grid-column-start: 1;
    }

    span:after {
      content: initial;
    }
  }
</style>