footer {
    @include flex-column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 4em;
    padding: 0.5em 0em 0.5em 0;
    text-align: center;
    justify-content: space-between;

    @media (min-width: 600px) {
        @include flex-row;
    }
}

.links  {
    @include flex-row;
    justify-content: center;
    justify-content: space-between;

    @media (min-width: 600px) {
        width: 350px;
    }
}

.licence {
    width: 100%;
    text-align: center;

    @media (min-width: 600px) {
        text-align: right;
    }
}