.home {
    img {
        display: block;
        border-radius: 175px;
        height: 275px;
        width: 233px;
        margin: auto;

        @media (min-width: 900px) {
            height: 360px;
            width: 300px;
        }
    }

    @media (min-height: 800px) {
        @include flex-column;
        justify-content: space-evenly;
    }

    @media (min-width: 800px) {
        .presentation {
            p {
                width: 460px;
            }
        }
    }

    @media (min-width: 900px) {
        width: 800px;
        margin: auto;
    }

    @media (min-width: 2000px) {
        width: 1100px;
    }
}

.presentation {
    @media (min-width: 800px) {
        @include flex-row;
        align-items: center;
    }
}

.lastPost {
    margin-top: 3em;

    @media (min-width: 800px) {
        margin-top: 1em;
    }
    .dates, .tags {
        font-weight: lighter;
    }
}

.lastPostTitle {
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}